
.container{
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    padding: 20px;
    
    
}
.div{
    border: 1px solid black;
    display: flex;
    padding: 10px; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-container{

    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
}


.container-2{
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
    
}

.flex-box-container-2, .flex-box-rps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    

}

.flex-box-container-2 img{
    
    box-shadow: 0px 10px 50px rgb(0, 0, 0, 0.7);
   
}



.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

/* Style flex-box-rps divs*/

